# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / packaging
*.egg-info/
*.egg
dist/
build/

# IDE / editors
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
