name: CI

on:
    push:
        branches: [master, feature/*, fix/*]
    pull_request:

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest]
                python-version: ["3.10", "3.11"]

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: pip install -r requirements.txt

            - name: Install package (editable mode)
              run: pip install -e .

            - name: Run tests
              shell: bash
              run: |
                    if ! pytest -q; then
                    echo "❌ Tests failed";
                    exit 1;
                    fi
                    echo "✅ Tests passed";
